VisualElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-list-button {
    background-image: url("../UIResources/Button/border_button_pink.png");

    width: 370px;
    height: 80px;
    margin: 20px;

    font-size: 20px;
    -unity-font-style: bold;
    color: var(--theme-button-font-color);
}
Button{

}

.left-list-button:hover{
    -unity-background-image-tint-color: var(--theme-button-hover-tint-color);
}
