#setting-title-background-image{
    position: absolute;
    height: 179px;
    width: 660px;
    background-image: url("../UIResources/title_background.png");
    top: 30px;
}
#setting-title{
    position: relative;
    font-size: 90px;
    text-shadow: rgba(0, 0, 0,0.3) 1px 1px 12px;
    color: #DE85A1;
}
VisualElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0,0.4);
}